* {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 20px;
  font-size: 15px;
}

html {
  background-color: white;
}

.layar-dalam {
  width: 1000px;
  margin: auto;
}
nav {
  z-index: 100;
  color: #fff;
  text-align: center;
  position: fixed;
  border-bottom: ipx solid #b1b1b1;
  line-height: 60px;
  width: 100%;
}
nav .logo {
  float: left;
  position: relative;
  line-height: 55px;
  text-align: center;
}
nav .menu {
  float: right;
  height: 60px;
  max-width: 600px;
}
nav .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav .menu ul li {
  list-style-type: none;
  float: left;
  line-height: 60px;
}

nav ul li a {
  color: #18a0fb;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}
